build_*.properties
dataPacksJobs/
coverage/
!dataPacksJobs/Example.yaml
!dataPacksJobs/QueryDefinitions.yaml
!dataPacksJobs/ReadMeExample.yaml
!dataPacksJobs/ReadMeExamAllDefault.yaml
node_modules/
vlocity-temp/
example_vlocity_build/
test/testJobRunning/
.nyc_output/
.vscode/
.sfdx/
.npmrc
bin/vlocity*
VlocityBuildLog.yaml
VlocityBuildErrors.log
codeship.aes
codeship/unencrypted*/
dist/
CHANGELOG.md